*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to left, #f8ced8, whitesmoke);
}

header h1{
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 1rem;
    padding: 0.3rem;
    background-color: whitesmoke;
    border-radius: 1rem;
}

/* transformaciones menu */

nav ul li:hover{
    background-color: #f2b1c0;
    transform: scale(1.2);
    box-shadow: 2px 3px pink;
}

/* transformaciones img*/


img:hover{
    transform: scale(1.5);
    
}

.mainNosotros{
    height: 80vh;
    display: grid;
    grid-template-areas: "mainP mainP"
                         "imagen1 imagen2"
                         "imagen3 imagen4"
                         "parrafo parrafo";
    justify-content: center;
}

.sectionNosotros{
    display: none;
}

.mainP{
    text-align: center;
    grid-area: mainP;
}

.imgLuna{
    width: 60%;
    animation-name: girar;
    animation-iteration-count: infinite;
    animation-duration: 100s;
}


@keyframes girar{
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }
}


.imagen1{
    grid-area: imagen1;
}

.imagen2{
    grid-area: imagen2;
}

.imagen3{
    grid-area: imagen3;
}

